<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itman.datastream.engine.mapper.FileMapper">
    <sql id="fileBodyColumnList">
        file_body_id
        ,file_format_id, split_flag,fix_begin_line,fix_end_line,state,state_date,create_date
    </sql>

    <select id="selectFileBodyById" resultType="com.itman.datastream.common.entity.FileBodyEntity">
        select
        <include refid="fileBodyColumnList"/>
        from data_stream_file_body
        where file_body_id = #{fileBodyId} and state=1
    </select>

    <select id="selectFileBodyByFileFormatId" resultType="com.itman.datastream.common.entity.FileBodyEntity">
        select
        <include refid="fileBodyColumnList"/>
        from data_stream_file_body
        where file_format_id = #{fileFormatId} and state=1
    </select>

    <sql id="fileSpecialColumnList">
        file_special_id
        ,file_format_id, split_flag,fix_line_position,remark,state,state_date,create_date
    </sql>

    <select id="selectFileSpecialByFileFormatId" resultType="com.itman.datastream.common.entity.FileSpecialEntity">
        select
        <include refid="fileSpecialColumnList"/>
        from data_stream_file_special
        where file_format_id = #{fileFormatId} and state = 1 order by file_special_id
    </select>

    <sql id="fileFieldColumnList">
        file_field_id
        ,file_format_id, belong_flag, belong_id, field_name, fix_width, position, sum_line_flag,sum_field_name,state,state_date,create_date
    </sql>

    <select id="selectFileField" resultType="com.itman.datastream.common.entity.FileFieldEntity">
        select
        <include refid="fileFieldColumnList"/>
        from data_stream_file_field
        where belong_flag = #{belongFlag}
        and belong_id = #{belongId}
        and state = 1
        order by position
    </select>

    <select id="selectFileFieldByFileFormatId" resultType="com.itman.datastream.common.entity.FileFieldEntity">
        select
        <include refid="fileFieldColumnList"/>
        from data_stream_file_field
        where file_format_id = #{fileFormatId}
        and state = 1
        order by position
    </select>

    <select id="selectFileFieldById" resultType="com.itman.datastream.common.entity.FileFieldEntity">
        select
        <include refid="fileFieldColumnList"/>
        from data_stream_file_field
        where file_format_id = #{fileFormatId}
        and state = 1
        order by position
    </select>

    <sql id="fileFormatColumnList">
        file_format_id
        ,file_type
        , file_name_type
        ,file_name_format
        ,ftp_host
        ,ftp_port
        ,ftp_user
        ,ftp_passwd,ftp_path,local_path,file_bak_action,file_bak_path,state,state_date,create_date,on_line_flag,system_user_code
    </sql>

    <select id="selectFileFormat" resultType="com.itman.datastream.common.entity.FileFormatEntity">
        select
        <include refid="fileFormatColumnList"/>
        from data_stream_file_format
        where file_Format_Id = #{fileFormatId} and state=1
    </select>

    <select id="selectFileFilter" resultType="com.itman.datastream.common.entity.FileFilterEntity">
        select file_filter_id, file_format_id, file_field_id, symbol_id, symbol_group, file_field_value, state
        from data_stream_file_filter
        where file_format_id = #{fileFormatId}
        and state = 1
        order by symbol_group, file_field_id
    </select>

    <sql id="fileFormatWhereCon">
        <if test="queryFlag == @com.itman.datastream.common.constant.DataStreamConstant@FILE_FORMAT_QUERY_FLAG_ALL">
            and state!=3
        </if>
        <if test="queryFlag==@com.itman.datastream.common.constant.DataStreamConstant@FILE_FORMAT_QUERY_FLAG_FILE_FORMAT_ID">
            and file_format_id=#{queryValue} and state!=3
        </if>
        <if test="queryFlag==@com.itman.datastream.common.constant.DataStreamConstant@FILE_FORMAT_QUERY_FLAG_FILE_NAME">
            and file_name_format like #{queryValue} and state!=3
        </if>
        <if test="systemUserCode != null and systemUserCode != ''">
            and system_user_code = #{systemUserCode}
        </if>
    </sql>


    <select id="selectFileFormatByPage" resultType="com.itman.datastream.common.entity.FileFormatEntity">
        select
        <include refid="fileFormatColumnList"/>
        from data_stream_file_format
        where 1=1
        <include refid="fileFormatWhereCon"/>
        order by create_date desc
        ${sqlLimit}
    </select>


    <select id="selectFileFormatCount" resultType="java.lang.Integer">
        <if test="dbType == @com.itman.datastream.common.constant.DataStreamConstant@DATA_SOURCE_TYPE_SHARDING">
            /* !HINT({"balance":"0"})*/
        </if>
        SELECT count(1) from data_stream_file_format
        where 1=1
        <include refid="fileFormatWhereCon"/>
    </select>

    <delete id="deleteFileFormatById">
        delete
        from data_stream_file_format
        where file_format_id = #{fileFormatId}
    </delete>

    <delete id="deleteFileSpecialByFileFormatId">
        delete
        from data_stream_file_special
        where file_format_id = #{fileFormatId}
    </delete>

    <delete id="deleteFileSpecialById">
        delete
        from data_stream_file_special
        where file_special_id = #{fileSpecialId}
    </delete>

    <delete id="deleteFileBodyByFileFormatId">
        delete
        from data_stream_file_body
        where file_format_id = #{fileFormatId}
    </delete>

    <delete id="deleteFileFilterByFileFormatId">
        delete
        from data_stream_file_filter
        where file_format_id = #{fileFormatId}
    </delete>

    <delete id="deleteFileFieldByFileFormatId">
        delete
        from data_stream_file_field
        where file_format_id = #{fileFormatId}
    </delete>

    <insert id="insertFileFormat">
        insert into data_stream_file_format (
        <include refid="fileFormatColumnList"/>
        )
        values
        (#{fileFormat.fileFormatId},
        #{fileFormat.fileType},
        #{fileFormat.fileNameType},
        #{fileFormat.fileNameFormat},
        #{fileFormat.ftpHost},
        #{fileFormat.ftpPort},
        #{fileFormat.ftpUser},
        #{fileFormat.ftpPasswd},
        #{fileFormat.ftpPath},
        #{fileFormat.localPath},
        #{fileFormat.fileBakAction},
        #{fileFormat.fileBakPath},
        1,
        ${sysdate},
        ${sysdate},
        #{fileFormat.onLineFlag},
        #{fileFormat.systemUserCode})
    </insert>

    <update id="updateFile">
        update data_stream_file_format
        set file_name_type=#{fileFormat.fileNameType},
        file_type=#{fileFormat.fileType},
        file_name_format=#{fileFormat.fileNameFormat},
        local_path=#{fileFormat.localPath},
        ftp_host=#{fileFormat.ftpHost},
        ftp_port=#{fileFormat.ftpPort},
        ftp_passwd=#{fileFormat.ftpPasswd},
        ftp_user=#{fileFormat.ftpUser},
        ftp_path=#{fileFormat.ftpPath},
        file_bak_action=#{fileFormat.fileBakAction},
        file_bak_path=#{fileFormat.fileBakPath}
        where file_format_id = #{fileFormat.fileFormatId}
        and state = 1
    </update>

    <insert id="insertFileBody">
        insert into data_stream_file_body (
        <include refid="fileBodyColumnList"/>
        )
        values
        (#{fileBody.fileBodyId},
        #{fileBody.fileFormatId},
        #{fileBody.splitFlag},
        #{fileBody.fixBeginLine},
        #{fileBody.fixEndLine},
        1,
        ${sysdate},
        ${sysdate})
    </insert>

    <update id="updateFileBody">
        update data_stream_file_body
        set split_flag=#{fileBody.splitFlag},
        fix_begin_line=#{fileBody.fixBeginLine},
        fix_end_line=#{fileBody.fixEndLine}
        where file_body_id = #{fileBody.fileBodyId}
        and state = 1
    </update>

    <insert id="insertFileFieldList">
        insert into data_stream_file_field (
        <include refid="fileFieldColumnList"/>
        )
        values
        <foreach collection="fileFieldList" item="iterator" index="index" separator=",">
            (#{iterator.fileFieldId},
            #{iterator.fileFormatId},
            #{iterator.belongFlag},
            #{iterator.belongId},
            #{iterator.fieldName},
            #{iterator.fixWidth},
            #{iterator.position},
            #{iterator.sumLineFlag},
            #{iterator.sumFieldName},
            1,
            ${sysdate},
            ${sysdate})
        </foreach>
    </insert>

    <delete id="deleteFileField">
        delete
        from data_stream_file_field
        where file_field_id = #{FileFieldId}
    </delete>

    <insert id="insertFileSpecial">
        insert into data_stream_file_special (
        <include refid="fileSpecialColumnList"/>
        )
        values
        (#{fileSpecial.fileSpecialId},
        #{fileSpecial.fileFormatId},
        #{fileSpecial.splitFlag},
        #{fileSpecial.fixLinePosition},
        #{fileSpecial.remark},
        1,
        ${sysdate},
        ${sysdate})
    </insert>

    <update id="updateFileField">
        update data_stream_file_field
        set field_name=#{fileField.fieldName},
        fix_width=#{fileField.fixWidth},
        position=#{fileField.position},
        sum_line_flag=#{fileField.sumLineFlag},
        sum_field_name=#{fileField.sumFieldName}
        where file_field_id = #{fileField.fileFieldId}
        and state = 1
    </update>

    <update id="updateFileSpecial">
        update data_stream_file_special
        set split_flag=#{fileSpecial.splitFlag},
        fix_line_position=#{fileSpecial.fixLinePosition},
        remark=#{fileSpecial.remark}
        where file_special_id = #{fileSpecial.fileSpecialId}
        and state = 1
    </update>

    <update id="updateFileFormatOnLineFlagById">
        update data_stream_file_format
        set on_line_flag=#{onLineFlag}
        where file_format_id = #{fileFormatId}
        and state = 1
    </update>
</mapper>
