<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itman.datastream.engine.mapper.MQConfigMapper">
    <sql id="mqConfigColumnList">
        mq_config_id
        ,mq_config_name,mq_type,bootstrap_servers,message_format,delimiter,topic_prefix,remark,on_line_flag,state,state_date,create_date
    </sql>

    <sql id="MQConfigWhereCon">
        <if test="queryFlag == @com.itman.datastream.common.constant.DataStreamConstant@MQ_CONFIG_QUERY_FLAG_ALL">
            and state!=3
        </if>
        <if test="queryFlag==@com.itman.datastream.common.constant.DataStreamConstant@MQ_CONFIG_QUERY_FLAG_MQ_CONFIG_ID">
            and mq_config_id=#{queryValue} and state!=3
        </if>
        <if test="queryFlag==@com.itman.datastream.common.constant.DataStreamConstant@MQ_CONFIG_QUERY_FLAG_FILE_NAME">
            and mq_name like #{queryValue} and state!=3
        </if>
    </sql>

    <select id="getMQConfigCountById" resultType="java.lang.Integer">
        SELECT count(1) from data_stream_mq_config
        where 1=1
        <include refid="MQConfigWhereCon"/>
    </select>

    <select id="selectMQConfigByPage" resultType="com.itman.datastream.common.entity.MQConfigEntity">
        select
        <include refid="mqConfigColumnList"/>
        from data_stream_mq_config
        where 1=1
        <include refid="MQConfigWhereCon"/>
        order by create_date desc
        ${sqlLimit}
    </select>

    <select id="queryMQConfigById" resultType="com.itman.datastream.common.entity.MQConfigEntity">
        select
        <include refid="mqConfigColumnList"/>
        from data_stream_mq_config
        where mq_config_id = #{mqConfigId}
    </select>

    <insert id="insertMQConfig">
        insert into data_stream_mq_config (
        <include refid="mqConfigColumnList"/>
        )
        values
        (#{mqConfig.mqConfigId},
        #{mqConfig.mqConfigName},
        #{mqConfig.mqType},
        #{mqConfig.bootstrapServers},
        #{mqConfig.messageFormat},
        #{mqConfig.delimiter},
        #{mqConfig.topicPrefix},
        #{mqConfig.remark},
        #{mqConfig.onLineFlag},
        #{mqConfig.state},
        ${sysdate},
        ${sysdate})
    </insert>

    <update id="updateMQConfig">
        update data_stream_mq_config
        set mq_config_name=#{mqConfig.mqConfigName},
            mq_type=#{mqConfig.mqType},
            bootstrap_servers=#{mqConfig.bootstrapServers},
            message_format=#{mqConfig.messageFormat},
            delimiter=#{mqConfig.delimiter},
            topic_prefix=#{mqConfig.topicPrefix},
            remark=#{mqConfig.remark}
        where mq_config_id = #{mqConfig.mqConfigId}
          and state = 1
    </update>

    <delete id="deleteMQConfig">
        delete
        from data_stream_mq_config
        where mq_config_id = #{mqConfigId}
    </delete>

    <update id="updateMQConfigOnLineFlagById">
        update data_stream_mq_config
        set on_line_flag=#{onLineFlag}
        where mq_config_id = #{mqConfigId}
          and state = 1
    </update>
</mapper>
